<!doctype html>
<html>
<head>
    <title>eb and cognito test</title>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="toptitle">eb and cognito test page</div>
        {% if session != {} %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        {% endif %}
    </header>

    {% block page %}
    {% endblock %}
</body>
</html>
