{% extends "base.html" %}
{% block content %}
    <h5>Hi, {{ name }}!</h5>
    {% if favourited != [] %}
        <div class="content-section">
            <legend class="border-bottom mb-4">&#11088; Favourites </legend>
            <div class='favourited-button-container'>
                {% for f in favourited %}
                    <a href='/tasks#{{ f['TaskID'] }}' class='favourited-button'>
                        <p class='favourited-button-title'>
                            {% if f['Done'] %}
                                &#9989;
                            {% endif %}
                            {% if f['Done'] %}
                                    <p><s>{{ f['Title'] }}</s></p>
                            {% else %}
                                    <p>{{ f['Title'] }}</p>
                            {% endif %}
                        </p>
                    </a>
                {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}
