{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Verification of the email</legend>
                <div class="form-group">
                    {{ form.verification_code.label(class="form-control-label") }}
                    <p class= "form-control-label">Please enter the code from the recent email for verification</p>
                    {{ form.verification_code(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}